/*Utility classes*/

* {
  box-sizing: border-box;
  color: #52544d;
}
.Comfortaa {
  font-family: "Comfortaa", cursive;
}
.poiret {
  font-family: "Poiret One", cursive;
}
.Oswald {
  font-family: "Oswald", sans-serif;
}
.Oswald-bold {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.info-column {
  background-color: rgba(255, 255, 255, 0.349);
}
/*Nav*/

img[src="images/logo.png"] {
  width: 30%;
}

nav {
  background-color: #eeeeee;
}
nav > div > a,
li.nav-item.dropdown {
  text-decoration: none;
  font-size: x-large;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #52544d;
}
nav > div > a:hover {
  color: #878785;
}
div.nav-item.dropdown {
  list-style-type: none;
  text-decoration: none;
  font-size: x-large;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #52544d;
}
nav#desktop-nav {
  display: flex;
}
nav#mobile-nav {
  display: none;
}
ul.navbar-nav > li.nav-item > a {
  text-decoration: none;
  color: #52544d;
}

/*Footer */

footer {
  background-color: #eeeeee;
}
/*Home page*/
img[src="images/home/red-bookstore.png"] {
  width: 100%;
  z-index: 2;
  position: relative;
}
img[src="images/home/green-room.png"],
img[src="images/home/cyan-library.png"],
img[src="images/home/yellow-couch.png"],
img[src="images/services/piggybank.jpeg"],
img[src="images/services/foodchart.jpeg"] {
  width: 100%;
}

div.home-section-1 {
  background-image: url(../images/home/section-1-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
}

div.home-section-2 {
  background-color: #d8d8d8;
}

div.home-section-3 {
  background-image: url(../images/home/section-3-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*About Us page*/

img[src="images/about/about-hero.png"] {
  width: 100%;
}

.about-bg {
  background-image: url(../images/about/about-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.question-form {
  background: #4c4d50;
  color: white;
  border: none;
  width: 100%;
}
input[type="Submit"]:hover {
  background: #6f7276;
  text-decoration: underline;
}
#about-form-div {
  width: 75%;
}
/*Contact Us page*/
div#contact-bg {
  background-image: url(../images/contact/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
img#contact-img {
  width: 100%;
}
div.info-column > h2 > a {
  text-decoration: none;
}
div.info-column > h2 > a:hover {
  text-decoration: underline;
}
/*Services Page*/

/*Media Queries to make stuff responsive*/

/*Switching to mobile mode- this is used across all pages*/
@media screen and (max-width: 767px) {
  nav#mobile-nav {
    display: flex;
  }
  img[src="images/logo.png"] {
    width: 60%;
  }
  nav#desktop-nav {
    display: none;
  }
  /*Home page*/
  div.home-content,
  div.contact-content {
    flex-direction: column;
  }
  div.home-section-1 {
    height: 95vh !important;
  }
  h1.display-2.Oswald,
  h5.poiret {
    text-align: center;
  }

  /*About us page*/
  .about-bg {
    background-image: none;
  }
  div#about-content {
    flex-direction: column-reverse;
  }
}
/*Home page background images go away*/
@media screen and (max-width: 992px) {
  div.home-section-1,
  div.home-section-2,
  div.home-section-3 {
    background-image: none;
  }
  div.home-section-1 {
    height: 60vh;
  }
}
/*Now the fun part: animations!! */

/*Home page animations*/
/*Text on home page that says "The book nook". Makes it fade in from the left side of the screen. */

.slideInLeft {
  animation: slideInLeft 2.7s;
}
h5.slideInLeft {
  animation: slideInLeft 4s;
}
@keyframes slideInLeft {
  0% {
    opacity: 2%;
    margin-left: -50vh;
  }
  100% {
    opacity: 100%;
    margin-right: 0px;
  }
}
/*Words fading in on home page*/

.fadeIn {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
