body,
div.container {
  background-color: rgb(35, 30, 67) !important;
}
* {
  color: white;
}
img {
  border-radius: 8px;
  border: 3px solid rgb(203, 9, 129);
}
a {
  color: rgb(84, 207, 255) !important;
}
