.nav-img {
  width: 5%;
}

img[src="images/logo.svg"] {
  height: 70%;
}
.middle-align {
  vertical-align: middle;
  display: inline;
}
.product-imgs {
  width: 100%;
}
img[src="images/Optimized-about.png"] {
  border-radius: 20px;
}
