/* php practical app ~ Isabelle Anno 3/2/2022*/

/*Importing Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/*General page stuff*/
body {
  font-family: "Rubik", sans-serif;
}
.hideThis {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 0 auto;
}
.text-align-center {
  text-align: center;
}
.m-0 {
  margin: 0;
}

h2,
h3,
h4 {
  color: #924992;
}

h1,
.result {
  color: #020258;
}
h1 {
  text-align: center;
  font-size: 3.3rem;
  margin: 2vh;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
ul {
  list-style: none !important;
  display: flex;
  justify-content: center;
  border-radius: 5ch;
  margin: 0;
  margin-bottom: 2vh;
  padding: 2.3vh 0;
  border: 2px solid #40c1c9;
  background: #40c0c91a;
  box-shadow: #37506c4f 2px 3px 2px;
}
a {
  color: #020258;
  text-decoration: none;
  padding: 1.2vh 3.7vh;
  margin: 0vh 0.7vh;
  border: 2px solid transparent;
  border-radius: 5ch;
}
p {
  font-size: 18px;
}
.main-content {
  background: #40c0c91a;
  border: 2px solid #40c1c9;
  padding: 20px;
  border-radius: 9px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #37506c4f 3px 5px 4px;
  margin-bottom: 2vh;
}

.activeLink a {
  background-color: #fc5285;
  color: #fff;
  text-transform: uppercase;
}
a:hover {
  background-color: #fc528548;
  transition: 0.4s ease-in-out;
  color: #fff;
}
.resources {
  margin-top: 2%;
}
#p-container {
  width: 80%;
}

.content {
  display: flex;
  flex-direction: column;
}
hr {
  width: 55vw;
  border: 1px solid #020258;
}
/*Styles found on only on the part 1 page*/
.hello {
  font-size: 6rem;
  margin: 7vh 0;
}
/*Styles found on only on the part 4 page*/

tr,
th,
td {
  padding: 1.5vh;
  text-align: center;
}

#guessingGame {
  width: 70%;
  text-align: center;
}
.bigh1 {
  font-size: 60px;
}
.guessingGameButtons {
  border: 3px solid #40c1c9;
  color: #020258;
}
.guessingGameButtons:hover {
  border: 3px solid #40c1c9;
  background-color: #40c1c9;
}
.number {
  border: 3px solid #fc5285;
  background-color: transparent;
  font-size: 20px;
  color: #020258;
  border-radius: 50%;
  padding: 14px 21px;
  margin: 0 1.2vh;
}
.number:hover {
  transition: 0.4s ease-in-out;
  background-color: #fc5285;
  color: white;
}
#incorrect {
  color: red;
}
#correct {
  color: green;
}
