/*    Isabelle Anno, Oct 5, 2023
           
Table of contents:
1.) Universal Styles for all pages
2.) Utility Classes
3.) Loader, Header and nav bar
4.) Buttons
5.) Sections of each page (fullPage.js)
6.) Small, Easy animations. (most animations on app.js)
7.) Media Queries to make Responsive

*/

/*-------------------------------------1.) Universal Styles for all pages------------------------------------------------*/
:root {
  --text-color: #2c0a52;
  --text-color-2: (var(--text-color));
  --s1: #f6e3e3;
  --I1: #ff44a9;
  --I2: #44baff;
  --s1H1: #f0d4d4;
  --dropdownFocus: #f8f9fa;
  --sliderBG: #979797;
  --sliderChecked: #2196f3;
  --arrowNav: #eaeaea;
  --s2: #d5c3f5;
  --s2H1: #d6f6d6;
  --s2FrameBG: #dbcbf7;
  --s2FrameShadow: #b7a5d5de;
  --s2img: #d6f6d6b1;
  --highlight: var(--s2H1);
  --highlight-s2: var(--s2H1);
  --s2Buttons: var(--s2H1);
  --icons: var(--text-color);
  --s2Progress: var(--s2H1);
  --s3s4: #d9e4f1;
  --s3H1: #9fc9e1;
  --s4FrameBG: #d0ddeb;
  --s4FrameShadow: #9fc9e1;
  --s4Button: #9fc9e1;
  --s5: #ffffff;
  --s5H1: #4ab795;
  --s5Timeline: #ff3c00;
  --s8s9: #cad8cf;
  --s8H1: #f7f6ec;
  --s9FrameBG: #c9dcd0;
  --s9FrameShadow: #b5c7bd;
  --chat: white;
  --formBG: white;
  --formHover: white;
  --clickText: #814ebd;
  --clickTextHover: #643a94;
  --dim: 100%;
  --ExtraDim: 100%;
  --mobileNav: #fef7e5;
}

[data-theme="dark"] {
  --text-color: #3d9f80;
  --s1: #16052b;
  --I1: #ff44a880;
  --I2: #44baff80;
  --s1H1: #0e021b;
  --dropdownFocus: #060606;
  --sliderBG: #323135;
  --sliderChecked: #351196;
  --arrowNav: var(--text-color);
  --s2: var(--s1);
  --s2H1: #5c3a97;
  --s2FrameBG: #0e021b;
  --s2FrameShadow: #21124d;
  --highlight: #b191e8;
  --highlight-s2: var(--s2H1);
  --s2Buttons: #21124daf;
  --icons: var(--highlight);
  --s2Progress: #3d9f80;
  --s3s4: #011b39;
  --s3H1: #043554;
  --s4FrameBG: #032143;
  --s4FrameShadow: #001429;
  --s4Button: #054268;
  --s5: #161515;
  --s5H1: #000000;
  --s5Timeline: #c43582;
  --s8s9: #002529;
  --s8H1: #011619;
  --s9FrameBG: var(--s8s9);
  --s9FrameShadow: #021a1d;
  --chat: rgb(155, 195, 155);
  --formBG: var(--s8H1);
  --formHover: #000c0e;
  --clickText: var(--chat);
  --clickTextHover: rgb(75, 164, 115);
  --dim: 60%;
  --ExtraDim: 50%;
  --mobileNav: #150c34;
}
[data-theme="highContrast"] {
  --text-color: #2c0a52;
  --text-color-2: (var(--text-color));
  --s1: #f6e3e3;
  --I1: #ff44a9;
  --I2: #44baff;
  --s1H1: #f0d4d4;
  --dropdownFocus: #f8f9fa;
  --sliderBG: #979797;
  --sliderChecked: #2196f3;
  --arrowNav: #eaeaea;
  --s2: #d5c3f5;
  --s2H1: #7b3d9f;
  --s2FrameBG: #dbcbf7;
  --s2FrameShadow: #b7a5d5de;
  --s2img: var(--s2H1);
  --highlight: var(--s2H1);
  --highlight-s2: var(--s2H1);
  --s2Buttons: #d2abe9;
  --icons: var(--text-color);
  --s2Progress: #a75dd2;
  --s3s4: #d9e4f1;
  --s3H1: #75a6c2;
  --s4FrameBG: #d0ddeb;
  --s4FrameShadow: #9fc9e1;
  --s4Button: #9fc9e1;
  --s5: #ffffff;
  --s5H1: #e26e4a;
  --s5Timeline: #ff3c00;
  --s8s9: #cad8cf;
  --s8H1: rgb(75, 164, 115);
  --s9FrameBG: #c9dcd0;
  --s9FrameShadow: #b5c7bd;
  --chat: rgb(75, 164, 115);
  --formBG: white;
  --formHover: white;
  --clickText: #814ebd;
  --clickTextHover: #643a94;
  --dim: 100%;
  --ExtraDim: 100%;
  --mobileNav: #fef7e5;
}

[data-theme="highContrastDark"] {
  --text-color: #3d9f80;
  --s1: #16052b;
  --I1: #ff44a895;
  --I2: #44baff95;
  --s1H1: #0e021b;
  --dropdownFocus: #060606;
  --sliderBG: #323135;
  --sliderChecked: #351196;
  --arrowNav: var(--text-color);
  --s2: var(--s1);
  --s2H1: #5c3a97;
  --s2FrameBG: #0e021b;
  --s2FrameShadow: #21124d;
  --highlight: #b191e8;
  --highlight-s2: var(--highlight);
  --s2Buttons: #21124daf;
  --icons: var(--highlight);
  --s2Progress: #3d9f80;
  --s3s4: #011b39;
  --s3H1: #074d78;
  --s4FrameBG: #032143;
  --s4FrameShadow: #001429;
  --s4Button: #054268;
  --s5: #373737;
  --s5H1: #000000;
  --s5Timeline: #c43582;
  --s8s9: #003f46;
  --s8H1: #010d0f;
  --s9FrameBG: var(--s8s9);
  --s9FrameShadow: #021a1d;
  --chat: rgb(155, 195, 155);
  --formBG: #002c31;
  --formHover: #000c0e;
  --clickText: var(--chat);
  --clickTextHover: rgb(75, 164, 115);
  --dim: 55%;
  --ExtraDim: 50%;
  --mobileNav: #150c34;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir Next";
  src: local("Avenir Next Bold"), local("Avenir-Next-Bold"),
    url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff2") format("woff2"),
    url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff") format("woff"),
    url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(-s1);
}
p,
a:link,
a:visited,
button.hidden-button,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  text-decoration: none;
}
p,
a,
a:hover,
input.form-control,
textarea,
label,
.top-nav,
#fp-nav ul li .fp-tooltip.fp-left,
a.btn-link-reverse,
a.btn-link-reverse-left,
a.btn-link-reverse:hover,
a.btn-link-reverse-left:hover,
button.hidden-button,
textarea.form-control {
  font-family: "Roboto Mono", monospace !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: var(--text-color) !important;
}

FontAwesomeIcon {
  color: var(--text-color);
}
.uai,
.uwy {
  display: none;
}
#Hello,
.about,
#Education,
#Projects,
#Reviews,
#Contact {
  font-size: 22vw;
  font-family: "Avenir Next";
  user-select: none;
  text-align: center;
}
img {
  width: 100%;
}

img.dim {
  opacity: var(--dim);
}
.ExtraDim {
  opacity: var(--ExtraDim);
}

div.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a:hover {
  text-decoration: underline;
}
hr {
  opacity: 100% !important;
}
.fp-watermark {
  display: none !important;
}
.fp-watermark > a {
  display: none !important;
}

/*--------------------------------------------2.) Utility Classes--------------------------------------------------------*/

.IBM {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}
.avenir {
  font-family: "Avenir Next";
}

span.title {
  display: none;
}
.bold {
  font-weight: bold;
}
.frame {
  border: 1px solid var(--text-color);
  border-radius: 24px;
}
.mobile-flex-column {
  flex-direction: row;
}
.mobile,
.mobile-small,
.mobile-smaller {
  display: none !important;
}

/*--------------------------------------------3.) Header and nav bar styles--------------------------------------------*/

/*navbar*/
div.container.navContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-nav {
  height: 80px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 5000;
}

.logo {
  width: 8vh;
}

.menu-icon {
  display: none;
}
button.dropdown-toggle,
button.dropdown-toggle:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--text-color);
}

.nav-elements-ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.nav-elements-ul li:not(:last-child) {
  margin-right: 60px;
}
.dropdown-options {
  width: 100%;
  padding: 5px;
  clear: both;
  white-space: nowrap;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
  display: flex;
  justify-content: space-between;
  margin-right: 0px !important;
}
.nav-elements ul a {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
}
.dropdown-menu {
  padding: 15px;
  background-color: var(--mobileNav);
  color: var(--text-color);
}

/*The switches on the dropdown menu*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sliderBG);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.lang-slider {
  background-size: 200% 100%;
  background-image: url(Images/lang-slider.png);
  background-size: cover;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--sliderChecked);
}
input:checked + .lang-slider {
  background-position: 100% 0;
  -webkit-transition: background-position 0.75s;
  -moz-transition: background-position 0.75s;
  transition: background-position 0.75s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
/*MobileSettings*/
li.mobileSettings {
  display: none;
}
hr.mobileHR {
  width: 14vw;
  margin: 0;
  border: 0.75px solid var(--text-color);
}

/* Display:none forthe nav dots on sections that aren't the start of the topic, to reduce clutter*/
#fp-nav > ul > li:nth-child(1),
#fp-nav > ul > li:nth-child(4),
#fp-nav > ul > li:nth-child(7) {
  display: none;
}
/*Center horizontal nav for slides*/
.fp-slidesNav {
  display: flex;
  justify-content: center;
}
#fp-nav ul li .fp-tooltip.fp-left {
  color: var(--text-color);
}

/*---------------------------------------------4.) buttons & a's---------------------------------------------------*/
a:hover {
  color: var(--clickText);
}

button.hidden-button,
a#whatsAppModalButton {
  border: none;
  margin: 0;
  color: var(--clickText);
  background-color: transparent;
  text-decoration: none;
  text-align: left;
}

a.clickMe {
  color: var(--clickText);
  text-decoration: none;
}
a.clickMe:hover,
button.hidden-button:hover,
a#whatsAppModalButton:hover {
  color: var(--clickTextHover);
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

div.fp-arrow.fp-controlArrow.fp-next {
  border-width: 20.5px 0 20.5px 34px;
  border-color: transparent transparent transparent var(--arrowNav) !important;
}
div.fp-arrow.fp-controlArrow.fp-prev {
  border-width: 20.5px 34px 20.5px 0;
  border-color: transparent var(--arrowNav) transparent transparent !important;
}

a.btn-link {
  display: inline-block;
  border: 1px solid var(--text-color);
  padding: 1vw;
  color: var(--text-color);
  background-size: 200% 100%;
  background-image: linear-gradient(to left, #a082d5 50%, transparent 50%);
  text-decoration: none;
}
a.btn-link:hover {
  color: white;
  text-decoration: none;
  background-position: -100% 0;
  -webkit-transition: background-position 0.75s;
  -moz-transition: background-position 0.75s;
  transition: background-position 0.75s;
  animation: fade-color 0.75s;
}

a.btn-link-reverse,
a.btn-link-reverse-left {
  display: inline-block;
  border: 1px solid var(--text-color);
  padding: 1.4vw;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-size: 200% 100%;
  background-image: linear-gradient(
    to right,
    var(--s4Button) 50%,
    transparent 50%
  );
  color: var(--text-color);
  text-decoration: none;
}
a.btn-link-reverse:hover,
a.btn-link-reverse-left:hover {
  color: var(--text-color);
  text-decoration: underline;
  background-position: -100% 0;
  -webkit-transition: background-position 0.75s;
  -moz-transition: background-position 0.75s;
  transition: background-position 0.75s;
}
a.btn-link-reverse-left:hover {
  background-position: 100% 0;
}
a.about-btn {
  width: 100%;
  text-align: center;
}
a.first-btn-lr {
  background-image: linear-gradient(
    to right,
    var(--s2Buttons) 50%,
    transparent 50%
  );
}
a.second-btn-lr {
  background-image: linear-gradient(
    to right,
    var(--s2Buttons) 50%,
    transparent 50%
  );
}
a.third-btn-lr {
  background-image: linear-gradient(
    to right,
    var(--s2Buttons) 50%,
    transparent 50%
  );
}
/*--------------------------------------------5.) Sections & Slides-------------------------------------------------------------*/

/*-----------------------------First Section*/
.hs1 {
  background-color: var(--s1);
}

.learnMore {
  opacity: 0;
  margin-left: 1vh;
  font-family: "Roboto Mono", monospace;
}
img[src="/Images/UsaAndNL.png"] {
  width: 25px;
}
#myName {
  margin-left: 1vh;
}
#hs1Overlay {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#Hello {
  opacity: 0;
  font-size: 30vw;
  color: var(--s1H1);
}
#Isabelle {
  font-size: 80px;
  opacity: 1;
  position: relative;
  z-index: 6;
  color: var(--I1);
}
#Isabelle2 {
  font-size: 80px;
  opacity: 1;
  position: absolute;
  opacity: 0;
  user-select: none;
  transform: translate(5px, -101px);
  color: var(--I2);
}
span.nl {
  font-family: "Noto Color Emoji", sans-serif;
}

/*----------------------------Second Section */
.hs2 {
  background-color: var(--s2);
}
/*Fist Slide*/
.about {
  opacity: 0;
  font-size: 22vw;
  text-align: center;
  color: var(--s2H1);
  margin: 0;
}
.about-frame {
  background-color: var(--s2FrameBG);
  box-shadow: -20px 20px 3px var(--s2FrameShadow);
}
/*Second Slide */
img[src*="isabelleanno"] {
  width: 95%;
}
.highlight {
  color: var(--highlight);
}
.highlight-s2 {
  color: var(--highlight-s2) !important;
}
#s2-2 {
  padding: 4rem;
}
#s2-4Row {
  margin-bottom: 1.5rem;
}
/*Third Slide*/
.icons {
  font-size: 20px;
  color: var(--icons);
  width: 3vh;
}
div.progress {
  background-color: transparent;
  align-items: center;
  margin-left: 1vh;
}
div.progress-bar {
  width: 20%;
  border: 1px solid #2c0a52;
  border-radius: 5px;
  background-color: var(--s2Progress);
  height: 1vh;
}
div.progress-bar-empty {
  background-color: transparent;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
  background-color: transparent;
  padding: 3px;
}

#s2-3 {
  padding: 2.65rem;
}

/*Fourth Slide*/
.learnMoreDiv {
  align-items: center;
}
#s2-4 {
  padding: 4.35rem;
}
/*Fifth Slide*/
img[src*="patrick"] {
  width: 87%;
}
img[src*="isabelleanno"],
img[src*="patrick"] {
  box-shadow: 0 0 0 20px var(--s2img);
  border-radius: 13px;
}
img[src="/Images/about/profile.png"] {
  width: 40%;
  border-radius: 50%;
}
div.img-frame {
  margin: 20px;
  display: flex;
  justify-content: center;
}

div.img-frame-2 {
  width: 80%;
  height: 80%;
  align-self: center;
}
iframe {
  opacity: var(--dim);
}
#s2-5 {
  padding: 1.7rem;
}
/*----------------------------Third & Fourth Sections */
.hs3,
.hs4 {
  background-color: var(--s3s4);
}
#Education {
  font-size: 20vw;
  color: var(--s3H1);
}
div.col.my-5 > img {
  border-radius: 10px;
}
div#certs-border {
  border: 25px solid white;
  border-radius: 10px;
}
#Degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-frame {
  width: 100%;
  background: var(--s4FrameBG);
  box-shadow: -20px 20px 3px var(--s4FrameShadow);
}
.sidenav-btn {
  display: flex;
  transform: translate(13px);
  z-index: 2;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  background-color: var(--s4FrameBG);
}
.separator {
  overflow-y: hidden !important;
  z-index: 1;
  width: 1px;
  height: 100%;
  border-radius: 3px;
  background-color: var(--text-color);
  align-self: center;
}
/*---------------------------Fifth Section */
.hs5 {
  background-color: var(--s5);
}
#Projects {
  color: var(--s5H1);
  margin-bottom: 10vh;
}

/*Slides 2 and beyond*/
a.proj-link {
  font-size: 5.5vh;
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  text-decoration: none;
}
.project-photo-frame {
  width: 100%;
  height: 55vh;
  margin-bottom: 5vh;
}
.btn-horizontal {
  border: 2px solid var(--s5Timeline);
  background-color: var(--s5);
  position: relative;
  z-index: 3;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  bottom: 30px;
  right: 2px;
}

.proj-info-wrapper {
  margin: 0 2vh;
}
.date {
  z-index: 5;
  margin: 0;
  position: RELATIVE;
  bottom: 23px;
  left: 10px;
  font-weight: bold;
  color: var(--s5Timeline);
}
#date-start {
  left: -51px;
}
.position-absolute {
  bottom: 6.5vh;
}

hr.timelineHR {
  width: 100vw;
  border: 1px solid var(--s5Timeline);
}
hr#firstHR {
  width: 73vw;
}
hr#timelineHREnd {
  width: calc(73vw - 4px);
}

/*----------------------------eighth and nineth Section, as well as modal*/
.hs8,
.hs9 {
  background-color: var(--s8s9);
}
#Contact {
  color: var(--s8H1);
}
.chat {
  color: var(--chat);
}
.alert {
  opacity: 0;
}

.form-control,
input,
input.form-control,
input.form-control:hover,
input.form-control:focus,
input.form-control:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill::first-letter,
input:-webkit-autofill:active {
  font-family: "Roboto Mono", monospace !important;
  -webkit-box-shadow: 0 0 0 30px var(--formBG) inset !important;
  -webkit-text-fill-color: var(--clickText) !important;
  background-color: var(--formBG) !important;
  border: 1px solid var(--text-color);
  color: var(--text-color) !important;
}

label {
  margin-top: 1vh;
  color: var(--text-color);
}
textarea.form-control {
  margin-bottom: 2vh;
}
.form-control:focus {
  border-color: #00a884 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white !important;
}
button.submit-btn:hover {
  color: var(--text-color);
  background-color: white;
  border: 1px solid #00a884;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px white !important;
}
button.submit-btn {
  color: rgb(250, 251, 241);
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
}

.contact-frame {
  background-color: var(--s9FrameBG);
  box-shadow: -20px 20px 3px var(--s9FrameShadow);
  padding: 3rem;
}
/*Modal*/
img[src*="WhatsApp"] {
  border-radius: 10px;
  width: 75%;
}

div.modal-footer {
  justify-content: start;
}
a.btn-success {
  border: 1px solid#00a884;
  color: #00a884;
  background-color: transparent;
}
a.btn-success:hover {
  text-decoration: underline;
  color: white;
  border: 1px solid white;
}
/*---------------------------------------------------6.) Animations----------------------------------------------------*/
@keyframes fade-color {
  0% {
    color: var(--text-color);
  }
  100% {
    color: white;
  }
}

/*------------------------------------------------7.) Media Queries--------------------------------------------------*/

/*----------------------------------Elements start getting squished & screwed up*/
@media only screen and (max-width: 991px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: flex !important;
  }

  .mobile-flex-column {
    flex-direction: column;
  }
  .mobile-flex-column-reverse {
    flex-direction: column-reverse;
  }
  p.lh-lg {
    line-height: 1.5 !important;
  }
}
/*----------------------------------------------Resizing Large Landscape Screens-----------------------------------------*/
@media only screen and (max-width: 991px) and (orientation: landscape) {
  div.img-frame desktop {
    display: none !important;
  }

  img[src="/Images/about/profile.png"] {
    width: 10%;
  }
  a.btn-link-reverse,
  a.btn-link-reverse-left {
    margin: 3px;
    width: 80%;
  }
  #s2-4 {
    padding: 2.35rem;
  }
}
/*-----------------------------------------------------Tablets- Landscape Mode----------------------------------------*/
@media only screen and (max-width: 768px) {
  p,
  a,
  button {
    font-size: 13px;
  }
  /*Display mobile-small*/
  .mobile-small {
    display: flex !important;
  }
  .mobile-small-flex-column {
    flex-direction: column;
  }
  .desktop-small {
    display: none !important;
  }

  /*Nav bar*/
  #header {
    padding: 1vh 8vh;
  }
  img[src*="Initials"] {
    width: 6vw;
  }
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  /*Second Section*/
  .table-frame {
    width: 100%;
  }

  #s2-5,
  #s2-3,
  #s2-4 {
    padding: 1.25rem !important;
  }

  a.btn-link-reverse,
  a.btn-link-reverse-left {
    margin: 5px;
  }
  /*Project Section*/
  .project-photo-frame {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  a.proj-link {
    font-size: 4.4vh;
  }
}
/* ------------------------------------------------Tablets- Portrait Mode ------------------------------------------------*/
@media (max-width: 600px) {
  /*Get rid of a bunch of desktop elements*/
  #fp-nav ul,
  .fp-slidesNav ul,
  ul.dropdown-menu.dropdown-menu-lg-end,
  button#desktop-settings {
    display: none;
  }

  /*Display mobile elements*/
  li.mobileSettings {
    display: flex;
  }
  li.mobileSettings > svg,
  .menu-icon svg {
    color: var(--text-color);
  }
  /*Display mobile-smaller*/
  .mobile-smaller {
    display: flex !important;
  }
  .desktop-smaller {
    display: none !important;
  }
  .mobile-flex-column-smaller {
    flex-direction: column;
  }

  /*Nav Bar*/
  .menu-icon {
    color: black;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 2000;
  }

  .nav-elements {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
    background-color: var(--mobileNav);
    width: 0px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.showing {
    width: 154px;
  }

  .nav-elements ul {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 25%;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
  /*First Slide*/
  a.btn-link {
    padding: 1.5vh;
  }
  /*Second Slide*/
  .about {
    font-size: 30vw;
  }
  div.img-frame {
    width: 80% !important;
    align-self: center;
  }
  .about-frame {
    padding: 0 !important;
    border: none;
    box-shadow: none;
    background-color: transparent;
  }

  #slide2-2txt {
    text-align: center;
  }
  .learnMoreDiv {
    align-items: start;
    margin-top: 20px;
  }
  a.about-btn {
    padding: 12px;
    margin: 7px 0;
  }
  /*Projects Slide*/
  a.proj-link {
    font-size: 4vh;
  }

  .proj-info-wrapper {
    padding: 0;
    margin: 0;
  }
  .proj-description {
    font-size: 11.5px;
  }
  /*Fourth and Fifth Section (Education)*/
  #timeline-wrapper {
    margin: 0 2rem;
  }
  /*Contact Us Section*/
  .contact-frame,
  #timeline-frame {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0 1vh !important;
  }
  #emailAddress2 {
    font-size: 12px;
  }
  #contact-form {
    margin-top: 5vh;
  }
}

/*--------------------------------------"isabelle Anno" breaks on first section*/
@media screen and (max-width: 492px) {
  #Isabelle {
    font-size: 70px;
  }
  #Isabelle2 {
    font-size: 70px;
    transform: translate(6px, -89px);
  }
}
@media screen and (max-width: 428px) {
  #Isabelle {
    font-size: 60px;
  }
  #Isabelle2 {
    font-size: 60px;
    transform: translate(6px, -75px);
  }
}
/*-----------------------------------------------------------Larger phone size-------------------------------------------*/
@media screen and (max-width: 416px) {
  h5 {
    font-size: 0.75rem;
  }

  /*Navbar*/
  img[src*="Initials"] {
    width: 13vw;
  }
  .nav-elements.showing {
    width: 134px;
  }
  /*First Slide*/
  #Isabelle {
    font-size: 50px;
  }
  #Isabelle2 {
    font-size: 50px;
    transform: translate(4px, -64px);
  }
  #Hello {
    font-size: 35vw;
  }

  /*Second Slide*/
  div.col-11.frame.about-frame.p-5 {
    padding: 0rem 3rem !important;
  }
  div.img-frame.mobile {
    margin: 0;
  }
  p.skill {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  a.proj-link {
    font-size: 3.5vh;
  }
  #whyMe {
    margin-top: 3rem;
  }
  #s2-4Row {
    margin-bottom: 0;
  }
}
/*----------------------------------------Isabelle Anno breaks again*/
@media screen and (max-width: 305px) {
  #Isabelle {
    font-size: 40px;
  }
  #Isabelle2 {
    font-size: 40px;
    transform: translate(6px, -52px);
  }
  a.proj-link {
    font-size: 3vh;
  }
}
/*-----------------------------------------------------Galaxy Fold----------------------------------------*/
@media screen and (max-width: 280px) {
  #s2-2 {
    padding: 1rem !important;
  }
  #s2-4 {
    margin: 0;
  }
  a.proj-link {
    font-size: 3vh;
  }
}
