/* php practical app ~ Isabelle Anno 5/3/2022*/

/*Importing Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/*General page stuff*/
body {
  font-family: "Rubik", sans-serif;
}
.hideThis {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 0 auto;
}
.text-align-center {
  text-align: center;
}
.m-0 {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 3.3rem;
  margin: 2vh;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
ul {
  list-style: none !important;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5ch;
  margin: 0;
  margin-bottom: 2vh;
  padding: 2.3vh 0;
  background: #b6c9a15e;
  border: 2px solid #98a984;
  box-shadow: #56604b5e 3px 5px 4px;
}
a {
  color: #020258;
  text-decoration: none;
  padding: 1.2vh 3.7vh;
  margin: 0vh 0.7vh;
  border: 2px solid transparent;
  border-radius: 5ch;
}
p {
  font-size: 18px;
}
.main-content {
  background: #b6c9a15e;
  border: 2px solid #98a984;
  padding: 20px;
  border-radius: 9px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #56604b5e 3px 5px 4px;
  margin-bottom: 2vh;
}

.activeLink a {
  background-color: #e07e5b;
  color: #fff;
  text-transform: uppercase;
}
a:hover {
  background-color: #d97a588f;
  transition: 0.4s ease-in-out;
  color: #fff;
}
.slots,
.jackpot {
  border: 10px solid rgb(243, 207, 1);
  background-color: rgba(255, 217, 0, 0.284);
  border-radius: 5px;
  padding: 20px 30px;
}
.lever {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 1.2vh 3.7vh;
  margin: 0vh 0.7vh;
  border: 2px solid transparent;
  border-radius: 5ch;
}
