/* php practical app ~ Isabelle Anno 3/2/2022*/

/*Importing Google fonts*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/*General page stuff*/
body {
  font-family: "Rubik", sans-serif;
}
.hideThis {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  margin: 0 auto;
}
h1,
h2,
h3,
h4 {
  color: #020258;
}
h1 {
  text-align: center;
  font-size: 3.3rem;
  margin: 2vh;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
ul {
  list-style: none !important;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5ch;
  margin: 0;
  margin-bottom: 2vh;
  padding: 2.3vh 0;
  border: 2px solid #8adf8a;
  background: #eff7ef;
  box-shadow: #70b37073 2px 3px 2px;
}
a {
  text-decoration: none;
  padding: 1.2vh 7vh;
  border: 2px solid transparent;
  border-radius: 5ch;
}

.main-content {
  background: #fafcfa;
  border: 2px solid #8adf8a;
  padding: 20px;
  border-radius: 9px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #70b37073 3px 5px 4px;
  margin-bottom: 2vh;
}

.activeLink a {
  background-color: #000080;
  color: #fff;
  text-transform: uppercase;
}
a:hover {
  background-color: #00008083;
  transition: 0.4s ease-in-out;
  color: #fff;
}
.resources {
  margin-top: 2%;
}

.content {
  display: flex;
  flex-direction: column;
}
hr {
  width: 55vw;
  border: 1px solid #020258;
}
/*Styles found on only on the part 1 page*/
.hello {
  font-size: 6rem;
  margin: 7vh 0;
}
/*Styles found on only on the part 4 page*/

tr,
th,
td {
  padding: 1.5vh;
  text-align: center;
}
